@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{width: 8px; height: 8px;}
::-webkit-scrollbar-thumb{background: #ff5252;}
::-webkit-scrollbar-track{background: #fff;}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    overflow-x: hidden;
}
.container{
    width: 90%;
    margin: auto;
}

header .top-strip{
    margin-top: 2px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    
}

.homeCatSlider {
    overflow:inherit !important;
   
}

.homeCatSlider .swiper-button-prev,
.homeCatSlider .swiper-button-next {
    width: 30px;
    height: 30px;
    min-width: 30px;
}

.homeCatSlider .swiper-button-prev:after,
.homeCatSlider .swiper-button-next:after {
    font-size: 16px !important;
}

.homeCatSlider .swiper-button-prev {
    left: -10px !important;
}

.homeCatSlider .swiper-button-next {
    right: -10px !important;
}

.homeCatSlider .item {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.homeCatSlider .swiper-button-prev:hover,
.homeCatSlider .swiper-button-next:hover {
    background: #ff5252 !important;
}

.homeCatSlider .swiper-button-prev:hover::after,
.homeCatSlider .swiper-button-next:hover::after {
    color: #fff !important;
}

.homeCatSlider .item:hover img{
    transform: scale(1.1);
}


.sliderHome{
    overflow: inherit !important;
    
}

.MuiTabs-indicator {
    background-color: #ff5252 !important;
  }
  
  .MuiTab-textColorPrimary.Mui-selected {
    color: #ff5252 !important;
  }
  
  .productsSlider .swiper-wrapper{padding: 15px;margin-left: -15px; margin-right: -15px;}

  .btn-org{background-color: #ff5252 !important; color: #fff !important; padding: 2px; font: 500; font-size: 16px;}
  .HomeSliderV2 .swiper-wrapper{background: #ff5252 !important;}
  .swiper-pagination-bullet{background: #ff5252;}

  .HomeSliderV2 .swiper-slide-active .info{right: 0px !important ; opacity: 1;}
  .HomeSliderV2 .swiper-slide-active .info h4{right: 0px !important ; opacity: 1; transition-duration: 1s;}
  .HomeSliderV2 .swiper-slide-active .info h2{right: 0px !important ; opacity: 1; transition-duration: 1.4s;}
  .HomeSliderV2 .swiper-slide-active .info h3{right: 0px !important ; opacity: 1; transition-duration: 1.8s;}


  .categoryPanel button{text-transform:capitalize !important;}

  .nav li .submenu{visibility: hidden; z-index: 1000;}
  .nav li .submenu button{font-weight: 400 !important;}
  .nav li:hover .submenu{opacity: 1 !important; visibility: inherit; top: 100%;}
  .nav li .submenu li:hover button{color: #ff5252 !important;}
  
  .nav li .submenu li .submenu{top: 0px !important; left: 120% !important; opacity: 0 !important;}
  .nav li .submenu li:hover .submenu{left: 100% !important; opacity: 1 !important;}
  .nav li .submenu li .submenu button{color: rgba(0,0,0,0.8) !important;}
  .nav li .submenu li .submenu button:hover{color: #ff5252 !important;} 

  .rightContent .Mui-selected{
    background: #ff5252 !important;
    color: white !important;
  }