@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
.container{
    width: 90%;
    margin: auto;
}

header .top-strip{
    margin-top: 2px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    
}